<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                            ">


    <http create-session="stateless" authentication-manager-ref="authenticationManager" realm="xunda.tech">
        <!--<intercept-url pattern="/api/baseOrg*" access="hasRole('ROLE_SYS_USER')" />-->
        <intercept-url pattern="/api/**" access="permitAll" method="OPTIONS"/>
        <intercept-url pattern="/api/**" access="hasRole('ROLE_ORG_USER')"/>

        <http-basic/>
        <csrf request-matcher-ref="ammRequestCsrfMatcher"/>
    </http>

    <beans:bean id="ammRequestCsrfMatcher" class="com.amm.filter.AMMRequestCsrfMatcher">
        <beans:property name="excludeUrls">
            <beans:list>
                <beans:value>/api/</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>


    <authentication-manager id="authenticationManager">
        <authentication-provider user-service-ref="ammUserDetailsService">
        </authentication-provider>
    </authentication-manager>
    <global-method-security secured-annotations="enabled"/>


</beans:beans>